<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\confirmit_logs\services\VacationPlanner\internal.log">

    <extensions>
        <!-- enable NLog.Web for ASP.NET Core -->
        <add assembly="NLog.Web.AspNetCore"/>

    </extensions>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="logs" fileName="C:\confirmit_logs\services\VacationPlanner\application-${shortdate}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception}" />
            </layout>
        </target>

        <!--<target xsi:type="File" name="logFile" fileName="c:\deploymenttool.api\Logs${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    </targets>

    <rules>
        <!-- All logs, including from Microsoft -->
        <logger name="*" minlevel="Trace" writeTo="logs" />

        <!-- Skip Microsoft logs - no writeTo attribute -->
        <!--<logger name="Microsoft.*" minlevel="Trace" final="true" />
        <logger name="*" minlevel="Trace" writeTo="logFile" />-->

    </rules>
</nlog>